<!-- categories.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head.html" .}}
</head>

<body>
    {{ if .Username}}
    <div class="usernameText">
        <p><b>{{ .Username}}</b></p>
    </div>
    {{ end }}
    {{block "navbar" .}} {{end}}
    <div class="container">
        {{ block "sidebar" . }}{{ end }}
        {{ block "filtered-posts" . }}{{ end }}
        {{if .ProfilePage}}
        {{ block "profile" .}}{{ end }}
        {{end}}

    </div>

    {{ if .ErrorMessage }}
    <script>
        alert("{{.ErrorMessage}}")
        window.location.href = "/";
    </script>
    {{ end }}

    {{ if .Uuid}}
    <script>
        alert("Welcome, {{.Username}}")
        window.location.href = "/";
    </script>
    {{ end }}

    {{ if .RegistrationSuccessMessage}}
    <script>
        alert("{{.RegistrationSuccessMessage}}")
        window.location.href = "/"
    </script>
    {{ end }}


</body>

</html>