{{ define "forum-content"}}
<div class="forum_content">
    <div class="post-container">
        {{if .Uuid}}
        <h1>Hello {{.Uuid}}</h1>
        {{else}}
        <h1>Hello Lions!</h1>
        {{end}}
        <p>Testing the forum functionality of text. This text should be justified, meaning, the sides should be
            equal and a new row should start when the container limit is reached.</p>
    </div>
    <div class="post-container-separator"></div>
    <div class="post-container">
        <h1>Title</h1>
        <p>Second post. Testing more text in one post. Second post. Testing more text in one post. Second post.
            Testing more text in one post. Second post. Testing more text in one post. Second post. Testing more
            text in one post. Second post. Testing more text in one post. Second post. Testing more text in one
            post. Second post. Testing more text in one post. Second post. Testing more text in one post. Second
            post. Testing more text in one post. Second post. Testing more text in one post. Second post. Testing
            more text in one post.</p>
        <p>Second post. Testing more text in one post and different paragraphs.</p>
        <p>Second post. Testing more text in one post and different paragraphs.</p>
        <p>Second post. Testing more text in one post and different paragraphs.</p>
        <p>Second post. Testing more text in one post and different paragraphs.</p>

    </div>
    <div class="post-container-separator"></div>
    <div class="post-container">
        <h1>Hello Lions!</h1>
        <p>Third post</p>
    </div>
    <div class="post-container-separator"></div>
    <div class="post-container">
        <h1>Hello Lions!</h1>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
        <p>Fourth post</p>
    </div>
    <div class="post-container-separator"></div>
    <div class="post-container">
        <h1>Hello Lions!</h1>
        <p>Fifth post, longer for scrolling. Also testing if one long string will be broken to fit into the
            container or if overflow will happen.
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        </p>
    </div>
</div>
{{ end }}