<!-- index.html-->
{{ define "content"}}
<nav class="navbar">
    <div class="logo">
        <a href="#">
            <img src="static/images/LionsLogo_75x75.png" alt="Logo">
        </a>
        <span class="logo-text"><b>Literary Lions</b></span>
    </div>
    <form class="search-form">
        <input type="text" placeholder="Search...">
        <button type="submit"><b>Search</b></button>
    </form>
    <div class="account-icon">
        <a href="#">
            <img src="static/images/AccountImage_53x53.png" alt="Account">
        </a>
    </div>
</nav>
<div class="forum_content">
    <h1> Hello Lions! </h1>
    <p>Stuff will go here that makes sense!</p>
    <h3>Text for testing scrolling on the page</h3>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder last</p>

</div>
{{end}}