<!-- index.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head.html" .}}
</head>

<body>
    {{ if .Username}}
    <div class="usernameText">
        <p><b>{{ .Username}}</b></p>
    </div>
    {{ end }}
    {{block "navbar" .}} {{end}}
    <div class="container">
        {{ block "sidebar" . }}{{ end }}
        {{ if .MainPage}}
        {{ block "forum-content" . }}{{ end }}
        {{end}}
        {{if .ProfilePage}}
        {{ block "profile" .}}{{ end }}
        {{end}}
        {{if .CreatePostPage}}
        {{block "create-post" .}}{{end}}
        {{end}}
        {{if .UserPostsPage }}
        {{block "posts-by-user" .}}{{end}}
        {{end}}
        {{if .LikedPostsPage }}
        {{block "posts-by-user" .}}{{end}}
        {{end}}
        {{if .DislikedPostsPage }}
        {{block "posts-by-user" .}}{{end}}
        {{end}}
    </div>

    {{ if .ErrorMessage }}
    <script>
        alert("{{.ErrorMessage}}")
        window.location.href = "/";
    </script>
    {{ end }}
    {{ if .Uuid}}
    <script>
        alert("Welcome, {{.Username}}")
        window.location.href = "/";
    </script>
    {{ end }}
    {{ if .RegistrationSuccessMessage}}
    <script>
        alert("{{.RegistrationSuccessMessage}}")
        window.location.href = "/"
    </script>
    {{ end }}

</body>

</html>