<!-- index.html-->
{{ define "content"}}
<nav class="navbar">
    <div class="logo">
        <a href="#">
            <img src="static/images/LionsLogo_Renewed.png" alt="Logo">
        </a>
        <span class="logo-text"><b>Literary<br>Lions</b></span>
    </div>
    <form class="search-form">
        <input type="text" placeholder="Search...">
        <button type="submit"><b>Search</b></button>
    </form>
    <div class="account-icon">
        <a href="#">
            <img src="static/images/AccountImage_53x53.png" alt="Account">
        </a>
    </div>
</nav>
<div class="container">
    <div class="sidebar">
        <ul>
            <li>Home</li>
            <li>Categories</li>
            <li>Users</li>
            <li>Profile</li>
            <li>Random</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
            <li>Test scrolling</li>
        </ul>
    </div>
    <div class="forum_content">
        <div class="post-container">
            <h1>Hello Lions!</h1>
            <p>Testing the forum functionality of text. This text should be justified, meaning, the sides should be
                equal and a new row should start when the container limit is reached.</p>
        </div>
        <div class="post-container">
            <h1>Title</h1>
            <p>Second post. Testing more text in one post. Second post. Testing more text in one post. Second post.
                Testing more text in one post. Second post. Testing more text in one post. Second post. Testing more
                text in one post. Second post. Testing more text in one post. Second post. Testing more text in one
                post. Second post. Testing more text in one post. Second post. Testing more text in one post. Second
                post. Testing more text in one post. Second post. Testing more text in one post. Second post. Testing
                more text in one post.</p>
            <p>Second post. Testing more text in one post and different paragraphs.</p>
            <p>Second post. Testing more text in one post and different paragraphs.</p>
            <p>Second post. Testing more text in one post and different paragraphs.</p>
            <p>Second post. Testing more text in one post and different paragraphs.</p>

        </div>
        <div class="post-container">
            <h1>Hello Lions!</h1>
            <p>Third post</p>
        </div>
        <div class="post-container">
            <h1>Hello Lions!</h1>
            <p>Fourth post</p>
        </div>
        <div class="post-container">
            <h1>Hello Lions!</h1>
            <p>Fifth post, longer for scrolling. Also testing if one long string will be broken to fit into the
                container or if overflow will happen.
                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            </p>
        </div>
    </div>
</div>

{{end}}