{{ define "navbar" }}
<nav class="navbar">
	<div class="logo">
		<a href="/">
			<img src="{{ .StaticURL}}/images/LionsLogo_Renewed.png" alt="Logo" />
		</a>
		<a href="/">
			<span class="logo-text"><b>Literary<br />Lions</b></span>
		</a>
	</div>
	{{ if .MainPage}}
	<form class="search-form" action="/search" method="GET">
		<select id="filter-type" name="filter-type">
			<option value="keyword" selected>No filter</option>
			<option value="likes">Likes</option>
			<option value="dislikes">Dislikes</option>
			<option value="time_new">Newest</option>
			<option value="time_old">Oldest</option>
		</select>
		<input type="text" name="search-query" placeholder="Search..." />
		<button type="submit"><b>Search</b></button>
	</form>
	{{ end }}
	<div class="account-icon">
		{{if .IsLoggedIn}}
		<!--<span class="account-icon-text"><b>{{ .Username}}</b></span>-->
		<a href="#logout">
			<img src="{{ .StaticURL}}/images/AccountImage_53x53.png" alt="Account" />
		</a>
		{{ else }}
		<a href="#login">
			<img src="{{ .StaticURL}}/images/AccountImage_53x53.png" alt="Account" />
		</a>
		{{ end }}
	</div>
</nav>
{{if .IsLoggedIn}}
<div id="logout" class="popup">
	<div class="popup-content">
		<a href="#" class="close">&times;</a>
		<form action="/logout" method="GET">
			<button type="submit"> Logout</button>
		</form>
	</div>
</div>
{{ else }}
<div id="login" class="popup">
	<div class="popup-content">
		<a href="#" class="close">&times;</a>
		<h2>Login</h2>
		<form action="/login" method="post">
			<input type="text" placeholder="Username*" id="username" name="username" />
			<input type="password" placeholder="Password*" id="password" name="password" />
			<button type="submit">Login</button>
			<p>New user? <a href="#register">Sign up!</a></p>
		</form>
	</div>
</div>
<div id="register" class="popup">
	<div class="popup-content">
		<a href="#" class="close">&times;</a>
		<h2>Register</h2>
		<form action="/register" method="post">
			<input type="text" placeholder="Username*" id="username" name="username" required />
			<input type="email" placeholder="Email*" id="email" name="email" required />
			<input type="password" placeholder="Password*" id="password" name="password" required />
			<button type="submit">Register</button>
			<p>Already got an account? <a href="#login">Log in!</a></p>
		</form>
	</div>
</div>
{{ end }}
{{ end }}