{{ define "profile" }}
<div class="profile-container">
	<h1>{{.User.Username}}'s Profile</h1>
	<div class="flex-container">
		<div>
			This is your profile page, here you can change any of profile details or
			delete your account.
		</div>
	</div>
	<a>
		<p class="text">Member since: {{ .User.CreatedAt}}</p>
		<form class="update_form" action="/updateUserProfile" method="POST">
			<div>You Email:</div>
			<input type="text" name="email" placeholder="{{ .User.Email}}" /><br />
			<div>Your Username:</div>
			<input
				type="text"
				name="username"
				placeholder="{{ .User.Username}}"
			/><br />
			<div>Change Password</div>
			<input type="text" name="newPassword" placeholder="New Password" /><br />
			<input
				type="text"
				name="newPasswordAgain"
				placeholder="New Password again "
			/><br />
			<input type="hidden" name="ID" value="{{ .User.ID}}" />
			<p class="text">Last activity: {{ .User.ModifiedAt}}</p>
			<button class="button" type="submit"><b>update</b></button>
		</form>
	</a>
</div>
{{end}}
