{{ define "sidebar"}}
<div class="sidebar">
    <ul>
        <li>Home</li>
        <li>Categories</li>
        <li>Users</li>
        <li>Profile</li>
        <li>Random</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
        <li>Test scrolling</li>
    </ul>
</div>
{{ end }}