{{ define "sidebar"}}
<div class="sidebar">
	<h4>Post Categories:</h4>
	<ul>
		<a href="/">
			{{ if .MainPage }}
			<div class="sidebar-focused">
				<li><b>All Categories</b></li>
			</div>
			{{ else }}
			<div class="sidebar-unfocused">
				<li>All Categories</li>
			</div>
			{{ end }}
		</a>
		{{range .Categories}}
		<a href="/category/{{.ID}}">
			{{ if eq .ID $.DisplayCatID}}
			<div class="sidebar-focused">
				<li><b>{{.Category}}</b></li>
			</div>
			{{else}}
			<div class="sidebar-unfocused">
				<li>{{.Category}}</li>
			</div>
			{{end}}
			<div class="sidebar-border">
			</div>
		</a>
		{{end}}
	</ul>
	{{if .IsLoggedIn}}
	<h4>Site Navigation:</h4>
	<ul>
		<div class="sidebar-border">
		</div>
		<a href="/profile">
			{{ if .ProfilePage }}
			<div class="sidebar-focused">
				<li><b>Your Profile</b></li>
			</div>
			{{ else }}
			<div class="sidebar-unfocused">
				<li>Your Profile</li>
			</div>
			{{ end }}
		</a>
		<div class="sidebar-border">
		</div>
		<a href="/your-posts">
			{{ if .UserPostsPage }}
			<div class="sidebar-focused">
				<li><b>Your Posts</b></li>
			</div>
			{{ else }}
			<div class="sidebar-unfocused">
				<li>Your Posts</li>
			</div>
			{{ end }}
		</a>
		<div class="sidebar-border">

		</div>
		<a href="/liked-posts">
			{{ if .LikedPostsPage }}
			<div class="sidebar-focused">
				<li><b>Liked Posts</b></li>
			</div>
			{{ else }}
			<div class="sidebar-unfocused">
				<li>Liked Posts</li>
			</div>
			{{ end }}
		</a>
		<div class="sidebar-border">

		</div>
		<a href="/disliked-posts">
			{{ if .DislikedPostsPage }}
			<div class="sidebar-focused">
				<li><b>Disliked Posts</b></li>
			</div>
			{{ else }}
			<div class="sidebar-unfocused">
				<li>Disliked Posts</li>
			</div>
			{{ end }}
		</a>
		<div class="sidebar-border">

		</div>
		<a href="/create-post">
			{{ if .CreatePostPage }}
			<div class="sidebar-focused">
				<li><b>Create Post</b></li>
			</div>
			{{ else }}
			<div class="sidebar-unfocused">
				<li>Create Post</li>
			</div>
			{{ end }}
		</a>
	</ul>
	{{end}}
</div>
{{ end }}