{{ define "sidebar"}}
<div class="sidebar">
	<h4>Post Categories:</h4>

	{{range .Categories}}
	<ul>
		<a href="/category/{{.ID}}">
			<li>{{.Category}}</li>
		</a>
	</ul>
	{{end}}

	{{if .IsLoggedIn}}
	<h4>Site Navigation:</h4>

	<ul>
		<a href="/">
			{{ if .MainPage }}
			<div class="sidebar-focused">
				<li><b>Homepage</b></li>
			</div>
			{{ else }}
			<div class="sidebar-unfocused">
				<li>Homepage</li>
			</div>
			{{ end }}
		</a>

		<a href="/profile">
			{{ if .ProfilePage }}
			<div class="sidebar-focused">
				<li><b>Your Profile</b></li>
			</div>
			{{ else }}
			<div class="sidebar-unfocused">
				<li>Your Profile</li>
			</div>
			{{ end }}
		</a>
		<li>Your Posts</li>
	</ul>
	{{end}}
</div>
{{ end }}