body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #80ddeb, #9280e8);
    height: 92vh;
    max-height: 92vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.usernameText {
    position: fixed;
    z-index: 1001;
    top: 12px;
    right: 70px;
    width: 20%;
    height: 40px;
    background-color: transparent;
    text-align: right;
}

a {
    text-decoration: none;
    color: #533ed9;
}

.post-container a {
    color: black;
}

.sidebar a {
    color: white;
}

h1 {
    color: #533ed9;
}

h3 {
    color: #533ed9;
}

h4 {
    color: gold;
}

.post-container h1 {
    font-size: 30px;
}

.post-container p {
    font-size: 18px;
}

.comments-icon img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 9px;
}

.like-icon img {
    height: 20px;
    width: 20px;
    vertical-align: top;
    margin-right: 5px;
}

.like-icon .like-number,
.dislike-icon .dislike-number {
    font-size: 20px;
    color: #533ed9;
    font-weight: normal;
    position: relative;
    top: -2px;
}

.comments-icon .comments-number {
    font-size: 20px;
    color: #533ed9;
    font-weight: normal;
    position: relative;
    top: -3px;
}

.dislike-icon img {
    height: 20px;
    width: 20px;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
}

.flex-container {
    display: flex;
    align-items: center;
    /* Aligns items vertically center */
    margin-left: 0;
}

.post-comment-amount {
    background: whitesmoke;
    border: 2px solid #533ed9;
    border-radius: 30px;
    height: 20px;
    margin-left: 5px;
    display: flex;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.post-comment-amount:hover {
    background: rgb(230, 230, 230);
}

.post-likes-dislikes {
    background: whitesmoke;
    border: 2px solid #533ed9;
    border-radius: 30px;
    height: 20px;
    margin-left: 5px;
    display: flex;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
}

.post-likes-dislikes button {
    border: none;
    background-color: whitesmoke;
    background: transparent;
}

.post-likes-dislikes button:hover {
    cursor: pointer;
}

.post-likes-dislikes img {
    margin-bottom: 3px;
}

.post-container-separator {
    width: calc(37% - 30px);
    min-width: 400px;
    height: 1px;
    background-color: gray;
    margin: 5px 0;
}

.navbar {
    width: 100%;
    height: 75px;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px, 0px;
    z-index: 1000;
}

.navbar .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    min-width: 200px;
}

.navbar .logo img {
    height: 75px;
    vertical-align: middle;
}

.navbar .logo a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.navbar .logo-text {
    -webkit-text-stroke: 1px black;
    color: goldenrod;
    font-size: 30px;
    text-decoration: none;
    display: block;
}

.search-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form button {
    background: whitesmoke;
    border: 2px solid goldenrod;
    border-radius: 15px;
    height: 39px;
    width: 70px;
    margin-left: 5px;
}

.search-form button:hover {
    background: rgb(230, 230, 230);
    cursor: pointer;
}

.search-form input[type="text"] {
    background: whitesmoke;
    padding: 10px;
    width: 25%;
    min-width: 46px;
    border: 2px solid goldenrod;
    border-radius: 15px;
    margin-right: 5px;
}

.search-form input[type="text"]:hover {
    border: 2px solid goldenrod
}

.search-form input[type="text"]:focus {
    outline: none;
    /* Remove default focus outline */
    border: 2px solid goldenrod;
    /* Apply custom border color on focus */
    background-color: rgb(230, 230, 230);
}

.account-icon {
    margin-left: 143px;
    margin-right: 15px;
}

.account-icon img {
    height: 42px;
    vertical-align: middle;
}

.forum_content {
    padding: 20px;
    box-sizing: border-box;
    width: calc(100vw - 400px);
    margin: auto;
    margin-left: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.profile-container {
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100vw - 400px);
    margin: auto;
    margin-top: 0vw;
    margin-left: 200px;
    text-align: center;
}

.container {
    display: flex;
    width: 100vw;
    height: 92vh;
    margin-top: 75px;
    overflow-y: auto;
}

.post-container {
    width: calc(37% - 30px);
    min-width: 400px;
    margin: 20px;
    height: auto;
    border-width: 3px;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: left;
    border: 10px solid transparent;
}

.post-container-welcome {
    width: calc(100% - 30px);
    min-width: 600px;
    margin: 20px;
    height: auto;
    border-width: 3px;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}


.post-container:hover {
    border: 10px solid rgb(118, 191, 255);
    background-color: rgb(118, 191, 255);
    cursor: pointer;
}

.sidebar {
    width: 210px;
    background-color: rgb(161, 0, 0);
    color: white;
    padding: 20px;
    position: fixed;
    box-sizing: border-box;
    top: 75px;
    left: 0;
    overflow-y: auto;
    max-height: 92vh;
}

@media (max-width: 850px) {
    .sidebar {
        display: none;
    }

    .usernameText {
        color: transparent;
        z-index: 900;
    }

    .forum_content {
        margin-left: 0;
        width: 100vw;
    }

    .filtered-post {
        margin-left: 0;
        width: 100vw;
    }
}

@media (max-width: 550px) {
    .account-icon {
        margin-left: 10%;
    }
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #555;
    text-align: center;
    border: 1px solid rgb(161, 0, 0);
    border-radius: 10px;
}

.sidebar h4 {
    text-align: center;
}

.sidebar ul li:hover {
    cursor: pointer;
    border: 1px solid crimson;
    background-color: crimson;
    border-radius: 10px;
    font-weight: bold;
}

.sidebar-focused {
    border: 1px solid crimson;
    background-color: crimson;
    color: white;
    border-radius: 10px;
}

.sidebar-unfocused {
    color: white;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.popup:target {
    display: flex;
}

.popup-content {
    position: relative;
    background: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.close {
    position: absolute;
    top: 2px;
    right: 5px;
    text-decoration: none;
    font-size: 30px;
    color: #333;
}

.close:hover {
    color: #000;
}

.popup button {
    background: whitesmoke;
    border: 2px solid goldenrod;
    border-radius: 15px;
    height: 39px;
    width: 70px;
    margin-left: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.popup button:hover {
    background: rgb(230, 230, 230);
    cursor: pointer;
}

.popup input[type="text"] {
    background: whitesmoke;
    padding: 10px;
    width: 90%;
    min-width: 46px;
    border: 2px solid goldenrod;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.popup input[type="email"] {
    background: whitesmoke;
    padding: 10px;
    width: 90%;
    min-width: 46px;
    border: 2px solid goldenrod;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.popup input[type="password"] {
    background: whitesmoke;
    padding: 10px;
    width: 90%;
    min-width: 46px;
    border: 2px solid goldenrod;
    border-radius: 15px;
    margin-right: 5px;
}

.popup input[type="text"]:focus {
    background-color: rgb(230, 230, 230);
    outline: none;
    border: 2px solid goldenrod;
}

.popup input[type="email"]:focus {
    background-color: rgb(230, 230, 230);
    outline: none;
    border: 2px solid goldenrod;
}

.popup input[type="password"]:focus {
    background-color: rgb(230, 230, 230);
    outline: none;
    border: 2px solid goldenrod;
}

.popup input[type="username"]:focus {
    background-color: rgb(230, 230, 230);
    outline: none;
    border: 2px solid goldenrod;
}

.filtered-post {
    padding: 20px;
    box-sizing: border-box;
    width: calc(100vw - 400px);
    margin: auto;
    margin-left: 200px;
    margin-top: 0vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.create-post-container {
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100vw - 400px);
    min-width: 400px;
    margin: auto;
    margin-top: 0vw;
    margin-left: 200px;
    text-align: center;
}

.create-post-container h4 {
    color: black;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input[type="text"],
textarea {
    width: 40%;
    padding: 0.5rem;
    background: whitesmoke;
    border: 2px solid goldenrod;
    border-radius: 15px;
    box-sizing: border-box;
    resize: vertical;
    overflow: auto;
    height: auto;
}

.form-group textarea {
    min-height: 150px;
}

.form-group select {
    width: 100px;
    height: 25px;
    text-align: center;
    background: whitesmoke;
    border: 2px solid goldenrod;
    border-radius: 15px;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.create-post-container button {
    background: whitesmoke;
    border: 2px solid goldenrod;
    border-radius: 15px;
    height: 39px;
    width: 100px;
    margin-left: 5px;
    font-weight: bold;
}

.create-post-container button:hover {
    background: rgb(230, 230, 230);
    cursor: pointer;
}

.form-group input[type="text"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 2px solid goldenrod;
    background-color: rgb(230, 230, 230);
}